<html>
  <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" media="all">
    <style>
      .title {
        color: #571845;
        font-size: 1rem;
      }
      .subtitle {
        color: grey;
        font-size: 0.8rem;
      }
      color1 {
        color: #FF5733;
      }
      seg {
        display: inline;
        margin-right: 2px;
      }

      l,
      p {
        display: block;
      }

      [type=poem],
      lg[type=poem] {
        font-size: 0.5rem;
        display: block;
        margin: 0 0 20px;
        border-bottom: 1px solid lightgrey;
      }

      lg {
        display: block;
        margin: 15px 0;
      }
      hr {
        background-color: black;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        {% for document in documents %}
          <div class="col-3">
            <div class="title">{{document.title}}</div>
            <div class="subtitle">
              par <span class="color1">{{ document.author.name|upper}}</span>
            </div>
            <div class="subtitle">
              en <span class="color1">{{document.language.name|upper}}</span>
            </div>
            <div type="poem">
              {% if document.content matches '/\.mp4$/' %}
              <video width=100% controls>
                <source src="{{ asset("data/" ~ document.content) }}">
              </video>
              {% elseif document.content matches '/<seg/'%}
                {{ document.content|raw }}
              {% else %}
                {{ document.content|trim|nl2br|replace({'*': '<hr/>'})|raw }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
