{% set isAdmin = is_granted('ROLE_ADMIN') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset("favicon.ico")}}" />
        <title>
        {% block title %}{{'site_title'|trans}} - {% endblock %}
        </title>
        {% block stylesheets %}
        <link href="{{ asset("build/css/template.css") }}" rel="stylesheet" />
        <link href="{{ asset("build/css/project.css") }}" rel="stylesheet" />
        <link href="{{ asset("build/css/toastr.css") }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
      {% include('base-includes/header.html.twig') %}
      <div class="container-fluid">
        {% include('base-includes/flashmessages.html.twig') %}
        <div class="row">
          <div class="col">
            {% block body %}
            {% endblock %}
          </div>
        </div>
        {% include('base-includes/footer.html.twig') %}
      </div>
      {% block javascripts %}
      <script src="{{asset("build/runtime.js")}}"></script>
      <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
      <script src="{{asset("build/js/vendor.js")}}"></script>
      <script src="{{asset("build/js/main.js")}}"></script>
      {% endblock %}
    </body>
</html>
