{% macro displayDoc(doc) %}
<div class="col document-container" data-doc-id="{{doc.id}}">
  <div class="card">
    <div class="card-body">
      <div class="delete-doc-btn"><i class="far fa-times-circle"></i></div>
      <h3 class="card-title">{{doc.title}}</h3>
      <h6 class="card-subtitle mb-2 text-muted ">
        par <span class="color1">{{ doc.author.name|upper}}</span>
      </h6>
      <h6 class="card-subtitle mb-2 text-muted">
        en <span class="color1">{{doc.language.name|upper}}</span>
      </h6>
      {% set rtl = ["arabe", "persan"] %}
      <div class="document-content {{ (doc.language.name in rtl) ? "rtl text-right" : "" }}">
        <p class="pt-2 card-text document-content">
          {% if doc.content matches '/\.mp4$/' %}
          <video width=100% controls>
            <source src="{{ asset("data/" ~ doc.content) }}">
          </video>
          {% elseif doc.content matches '/<seg/'%}
            {{ doc.content|raw }}
          {% else %}
            {{ doc.content|trim|nl2br|replace({'*': '<hr/>'})|raw }}
          {% endif %}
        </p>
      </div>
    </div>
    <div class="card-footer document-links">
      <div>
        <span class="btn btn-default left-btn">
          <i class="far fa-arrow-alt-circle-left"></i>
        </span>
        <span class="btn btn-default right-btn">
          <i class="far fa-arrow-alt-circle-right"></i>
        </span>
      </div>
      {% if doc.source %}
      <span class="btn btn-link display-doc-btn card-link" data-id={{doc.source.id}}>
        <i class="fas fa-undo-alt"></i>
        source en <strong>{{doc.source.language.name}}</strong> ({{doc.source.title}})
      </span>
      {% endif %}
      {% if doc.translations %}
        {% for translation in doc.translations %}
        <span class="card-link" >
          <span class="btn btn-link display-doc-btn" data-id={{translation.id}}>
            <i class="fas fa-redo-alt"></i>
            {{translation.title}} en <strong>{{translation.language.name}}</strong>
          </span>
        </span>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}
