{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}
  <form method="post">
      <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
      <input type="hidden" name="token" value="{token}">

      <button class="btn btn-primary" type="submit">
          Reset
      </button>
  </form>
{% endblock %}
