p {
  text-align: justify;
}

h1 {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.card-title {
  color: #571845;
}

.color1 {
  color: #FF5733;
}

.modal-header {
  background-color: #FFC300;
}

.rtl {
  direction: rtl;
}

.delete-doc-btn {
  position: absolute;
  top: 4px;
  right: 6px;
  color: grey;
  cursor: pointer;
}

.document-content {
  font-size: 0.8rem;
}

.document-links .btn-link {
  font-size: 0.8rem;
  white-space: normal !important;
  word-wrap: break-word;
}

.document-container {
  animation: display 0.6s linear;
}

.btn-color1 {
  border: 1px solid #571845;
  background-color: white;
  color: #571845;
}

.right-btn, .left-btn, .display-doc-btn {
  cursor: pointer;
}

.btn-color1:hover {
  background-color: #571845;
  color: white;
  cursor: pointer;
}

@keyframes display {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#cy {
  width: 100%;
  height: 750px;
  display: block;
  border: 1px solid lightgrey;
  margin: 30px 0;
}

seg {
  display: inline;
}

l, p {
  display: block;
}

lg[type=poem], [type=poem] {
  font-size: 0.8rem;
  display: block;
  margin: 0  0 30px 0;
  border-bottom: 1px solid black;
}

lg {
  display: block;
  margin: 15px 0;
}

.matching-seg {
  background-color: #571845;
  color: white;
}

hr{
  background-color:black;
}
