/*import de bootstrap*/
@import "~bootstrap/dist/css/bootstrap.min.css";

/* FOOTER */
#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  font-size:80%;
}

#footer img {
  height: 24px;
  margin-right: 12px;
}

#footer .logos a:hover {
  text-decoration: none;
}

/* EVERYWHERE */
.container-fluid {
  padding-top: 10px;
}

body{
  padding-bottom: 150px;
}

:focus, :active, :active:focus{
  outline:none;
}
