{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Utilisateurs{% endblock %}

{% block body %}
  <h1>
    <i class="fas fa-users"></i>
    Utilisateurs
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Rôles</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
      <td>{{user.email}}</td>
      <td>
          {% for role in user.roles %}
            {% if role != "ROLE_USER" %}
              {{role|trans}}
            {% endif %}
          {% endfor %}
      </td>
      <td>
        <a class="btn btn-info" href="{{path('admin_switch_admin',{'id':user.id})}}">Toggle Admin</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

{% endblock %}
