<div id="footer" class="p-2 bg-light">
  <div class="row text-center">
    <div class="col-8 logos">
      <a target="_blank" href="https://www.univ-grenoble-alpes.fr/">
        <img src="{{asset('img/logo_univ_grenoble_alpes.jpg')}}"/>
      </a>
      <a target="_blank" href="http://www.cnrs.fr">
        <img src="{{asset('img/logo_cnrs.jpg')}}"/>
      </a>
      <a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/">
        <img src="{{asset('img/logo_littarts.png')}}"/>
      </a>
      <a target="_blank" href="http://www.unil.ch/">
        <img src="{{asset('img/logo_lausanne.png')}}"/>
      </a>
      <a target="_blank" href="https://www.huma-num.fr/">
        <img src="{{asset('img/logo_hn.jpg')}}"/>
      </a>
      <a target="_blank" href="http://www.elan-numerique.fr/">
        <img src="{{asset('img/logo_elan.png')}}"/>
      </a>
    </div>
    <div class="col text-left links text-muted">
      <a href="{{path("legal_notices")}}">Mentions légales</a> -
      <a target="_blank" href="https://gitlab.com/litt-arts-num/epreuves_de_l_etranger">Code source</a> -
      {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <a href="{{ path('app_register') }}">{{"register"|trans}}</a> -
          <a href="{{ path('app_login') }}">{{"connect"|trans}}</a>
      {% else %}
          {{ app.user.username }}
          <a href="{{ path('app_logout') }}">
            ({{"logout"|trans}})
          </a>
      {% endif %}
    </div>
  </div>
</div>
