<nav class="navbar navbar-expand navbar-light" style="background-color:#FFC300">
  <div class=" w-100 order-1 order-md-0">
    <div class="navbar-nav mr-auto">
      <a class="navbar-brand" href="{{ path('homepage') }}">
        <i class="far fa-paper-plane"></i> {{'site_title'|trans}}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="nav-item nav-link" href="{{ path('about') }}">
        <i class="fas fa-info"></i> A propos
      </a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" >
            <i class="fas fa-align-left"></i> Les textes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('homepage') }}">Poésie</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="{{ path('montage') }}">
        <i class="fas fa-volume-up"></i> Montage sonore
      </a>

    </div>
  </div>
  <div class="navbar-collapse collapse w-100 order-2">
    <ul class="navbar-nav ml-auto">
      {% if isAdmin %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-tools"></i> Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('admin_list_documents') }}">
            <i class="fas fa-cogs"></i> {{"Documents"|trans}}
          </a>
          <a class="dropdown-item" href="{{ path('admin_list_users') }}">
            <i class="fas fa-users"></i> {{"users"|trans}}
          </a>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>

</nav>
