{% extends 'base.html.twig' %}

{% block title %} {{parent()}} - erreur 404{% endblock %}

{% block body %}
  La page demandé n'existe pas. <a href="{{ path('homepage') }}">Retourner à la page d'accueil</a>.
{% endblock %}
