{% extends 'base.html.twig' %}

{% block title %} {{parent()}} A propos{% endblock %}

{% block body %}

<h1>A propos</h1>

<p>Quelles métamorphoses un texte littéraire subit-il lorsqu’il est traduit vers des langues étrangères – latin et grec ancien, italien et allemand, arabe et persan, japonais et coréen – puis, revenant à sa source, à nouveau traduit vers le français ?</p>

<p>Gérard Macé, poète, essayiste et photographe, s’est prêté à l’expérience avec des chercheurs de l’Université Grenoble Alpes et une quarantaine de traducteurs, à l'initiative de Pascale Roux, Emanuela Nanni et Filippo Fonio.</p>

<p>Des poèmes et un essai inédits de l’auteur ont fait le voyage aller-retour vers d’autres langues-cultures ; ils en reviennent nourris d’altérité, faisant entendre, comme en écho, les voix de l’auteur et des traducteurs. Le dossier réuni est édité sous la responsabilité de Pascale Roux.</p>

{% endblock %}
