{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %} {{parent()}} Page d'accueil{% endblock %}

{% block body %}
<div class="row mb-3">
  <div class="col text-center">
    <span data-toggle="modal" data-target="#allDocs" class="btn btn-sm btn-color1">
      <i class="fas fa-plus"></i> Afficher un texte
    </span>
    <span data-toggle="modal" data-target="#graphe" class="btn btn-sm btn-color1">
      <i class="fas fa-project-diagram"></i> Graphe
    </span>
    <span id="hide-all" class="btn btn-sm btn-color1">
      <i class="fas fa-times"></i> Masquer tous les textes
    </span>

    <span id="export" class="d-none btn btn-sm btn-color1">
      Export
    </span>
  </div>
</div>

<div id="documents" class="row">
  {% if baseDoc %}
  {{ macros.displayDoc(baseDoc) }}
  {% endif %}
</div>

<div class="modal fade" id="allDocs" tabindex="-1" role="dialog" aria-labelledby="allDocsLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="allDocsLabel">Ajouter un document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="filter" class="mb-2 form-control" type="text" placeholder="filtrer" />
        <ul class="list-group list-group-flush">
          {% for doc in docs %}
          <li class="list-group-item document-list-item">
            <span class="btn display-doc-btn btn-color1 btn-sm" data-id={{doc.id}}>
              <i class="fas fa-plus"></i>
            </span>
            {{doc.title}} par <span class="color1">{{doc.author.name}}</span> en <span class="color1">{{doc.language.name}}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-color1 btn-sm" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="graphe" tabindex="-1" role="dialog" aria-labelledby="allDocsLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="allDocsLabel">Graphe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Cliquez sur un noeud pour ajouter le texte en question à la vue.
        <div id='cy' data-datas="{{ datas }}"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-color1 btn-sm" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="{{asset('build/js/document.js')}}"></script>
<script src="{{asset('build/js/filter.js')}}"></script>
<script src="{{asset('build/js/graph.js')}}"></script>
{% endblock %}
