{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Montage sonore{% endblock %}

{% block body %}

<h1>Montage sonore</h1>

<p>
  <audio style="width:100%" controls>
    <source src="{{ asset("data/lectures_montage_totalite.mp3") }}" type="audio/mp3">
  </audio>
</p>

<p>Ce montage sonore a été réalisé par Nicolas Thévenet, ingénieur du son (Compagnie Haut et court, Théâtre nouvelle génération de Lyon), avec l’aide de Kevin Woringer (Université Grenoble Alpes, Master Littérature, critique et création), qui a notamment réalisé certains enregistrements et fait un travail de sélection dans le corpus, et de Pascale Roux.</p>

<p>Les voix que l’on entend sont celles de Matteo Capponi, Philippe Chareyron, Amandine Chlad, Gaétan Coco, Gaëlle Grella, Vincent Hermano, Houssam Jalal, Yuki Kawano, Thierry Laplanche, Juliane Lauber, Gérard Macé, Tierry Maré, Emanuela Nanni, Pascale Roux, Pierre Siegenthaler, Nina Soleymani, Moon So-young, Marion Talotti, Yannick de Starac, Nicolas Thévenet, Kevin Woringer.</p>


{% endblock %}
