{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Documents{% endblock %}

{% block body %}
<h1>Documents</h1>

<ul class="list-group">
  <li class="list-group-item list-group-item-secondary">
    <a href="{{ path('admin_document_edit', {'id': null} ) }}" class="btn btn-sm btn-secondary">
      <i class="fas fa-plus"></i> Ajouter un document
    </a>
  </li>
{% for document in documents %}
  <li class="list-group-item">
    <a href="{{ path('admin_document_edit', {'id':document.id} ) }}" class="btn btn-sm btn-outline-secondary">
      <i class="fas fa-edit"></i>
    </a>
    {{ document.title }} {{ document.language.name }}
    {% if document.source %}
      (depuis {{ document.source.language.name }})
    {% endif %}
  </li>
{% endfor %}
</ul>

{% endblock %}
